.button {
    -fx-font: 18px "Noteworthy";
    -fx-padding: 5px;
    -fx-pref-height: 15px;
    -fx-pref-width: 100px;
    -fx-base: #F5E8D5;
}

.btn-border:hover {
  -fx-background-color: #F5E8D5;
  -fx-color: #FFF;
}

.background {
    -fx-background-color: #F8CBC3;
    -fx-background-image: url(doc/img/FirstScreen.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-background-size: cover;
}
