.button {
    -fx-font-size: 15px;
    -fx-pref-height: 45px;
    -fx-pref-width: 45px;
}

.text-field{
   -fx-font-size: 15px;
   -fx-pref-height: 45px;
   -fx-pref-width: 45px;
   -fx-alignment: center;
   -fx-padding: 5px;
}

.button-check {
    -fx-padding: 5px;
    -fx-pref-height: 15px;
    -fx-pref-width: 120px;
    -fx-text-fill: #7C707A;
    -fx-font-family: "Noteworthy";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: #F5E8D5;
}

.button-check:hover {
    -fx-background-color: #838399;
    -fx-text-fill: #F5E8D5;
}

.background {
    -fx-background-color: #7C707A;
}

.error-label{
   -fx-font-size: 15px;
   -fx-text-fill: red;
}

.clear-label{
   -fx-font-size: 20px;
   -fx-text-fill: blue;
}