.button {
    -fx-text-fill: #7C707A;
    -fx-font-family: "Noteworthy";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #F5E8D5;
    -fx-background-radius: 20;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0, 0, 1);
}

.button:hover {
    -fx-border-radius: 10;
    -fx-background-color: #F29098;
    -fx-text-fill: #F5E8D5;
}

.button:pressed {
    -fx-text-fill: #7C707A;
    -fx-background-color: #F5E8D5;
}

.background {
    -fx-background-image: url("firstScreenBackground.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-background-size: cover, auto;
    -fx-background-color: #838399;
}

.label {
    -fx-font-size: 20px;
    -fx-font-family: "Noteworthy";
    -fx-font-weight: bold;
    -fx-text-fill: #7C707A;
}
