
.gridButton-closed {
    -fx-pref-width: 42px;
    -fx-pref-height: 42px;
    -fx-background-color: #dfdfdf;
    -fx-border-color: #e7e7e7;
}

.gridButton-open {
    -fx-pref-width: 42px;
    -fx-pref-height: 42px;
    -fx-background-color: #d0d0d0;
    -fx-border-color: #e7e7e7;
}

.button:hover {
    -fx-background-color: #d6d6d6;
}

.button-flag {
    -fx-graphic: url("./img/flag.png");
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-radius: 30;
}

.button-face-smile {
    -fx-graphic: url("./img/smiley.png");
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-background-radius: 15;
}

.button-face-booo {
    -fx-graphic: url("./img/booo.png");
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-background-radius: 15;
}
