.button {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-font-size: 28px;
    -fx-font-family: "Noteworthy";
    -fx-background-color: #FFFFFF;
    -fx-border-color: #dadada;
}

.button-new {
    -fx-padding: 5px;
    -fx-pref-height: 20px;
    -fx-pref-width: 120px;
    -fx-font-size: 18px;
    -fx-background-color: #F8CBC3;
}

.button-new:hover {
    -fx-background-color: #F29098;
}

.background {
    -fx-background-color: #F5E8D5;
}

